@import 'src/variables.scss';

.intro {
  background-size: 100% 100%;
  padding: 20vh 0 20vh 0;

  .profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }

  @media (max-width: 600px) {
    padding: 12vh $spacing-small 12vh $spacing-small;

    .profile-image {
      width: 160px;
      height: 160px;
    }
  }
}