.intro {
    background: hsla(0, 5%, 92%, 1);
    background: linear-gradient(180deg, hsla(0, 5%, 92%, 1) 0%, hsla(0, 15%, 82%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(0, 5%, 92%, 1) 0%, hsla(0, 15%, 82%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(0, 5%, 92%, 1) 0%, hsla(0, 15%, 82%, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#EBE9E9", endColorstr="#D8CACA", GradientType=1 );

    background-size: 100% 100%;
    padding: 100px 0 100px 0;
    width: 100vw;

    .profile-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}