@import 'src/variables.scss';

.employment {
  > div > * {
    margin-bottom: $spacing-large;
  }

  &-title-container {
    margin-bottom: $spacing-xx-large;
  }

  :last-child {
    margin-bottom: 0;
  }

  &-card {
    padding: $spacing-x-large;

    &-title-container {
      align-items: baseline;
      text-align: left;
      padding-bottom: $spacing-x-small;
      flex-wrap: wrap;

      > * {
        padding-right: $spacing-xx-small;
      }

      > :first-child {
        flex-basis: 100%;
        padding-right: 0;
      }

      :last-child {
        padding-right: 0;
      }
    }

    &-body-text {
      text-align: left;
    }
  }

  @media (max-width: 600px) {
    &-card {
      padding: $spacing-medium;
    }
  }
}