:host{
    font-family: 'MontserratLight';
    min-height: 100vh;
    background-color: #FBFCF8;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: calc(10px + 2vmin);
    text-align: center;
}

.shellHost {
    font-family: 'MontserratLight';
    height: 100vh;
    height: inherit;
    display: flex;
    flex-direction: column;
}
