@import 'src/variables.scss';

.education {
    &-title-container {
        margin-bottom: $spacing-large;
    }

    &-card{
        padding: $spacing-x-large;

        &-title-container {            
            align-items: baseline;
            padding-bottom: $spacing-x-small;

            > * { 
                padding-right: $spacing-xx-small;
            }
    
            :last-child {
                padding-right: 0;
            }
        }

        &-body-text {
            text-align: left;
            padding-bottom: $spacing-xx-small;
        }

        
        :last-child {
            padding-bottom: 0;
        }
    }
}