@import 'src/variables.scss';

/**
 * App header background color is being overriden in the material overrides master file
 */

.header{
    padding: 0 $size-large 0 $size-large;
    height: $size-xxx-large;
    background-color: rgba($color: $background-white, $alpha: 0.9) !important;

    // background: transparent !important;
    box-shadow: none !important;

    &-nav-container{
        .header-nav-option {
            margin: 0 $size-x-small 0 $size-x-small;
            cursor: pointer;
        }

        :last-child {
            margin-right: 0;
        }
    }
}
