.body {
    /** 
     * Sizes 
     */
    --size-xxx-small: 4px;
    --size-xx-small: 8px;
    --size-x-small: 12px;
    --size-small: 16px;
    --size-medium: 24px;
    --size-x-large: 32px;
    --size-xx-large: 48px;
    --size-xxx-large: 56px;
    --size-xxxx-small: 64px;
}