@import 'src/variables.scss';

.about {
  &-title-container {
    margin-bottom: $spacing-x-small;
  }

  &-body {
    &-text {
      text-align: left;
      padding-bottom: $spacing-xx-small;
    }

    &-summary {
      padding-bottom: $spacing-small;
    }

    &-container {
      padding: $spacing-x-large;

      @media (max-width: 600px) {
        padding: $spacing-medium;
      }
    }
  }
}