$background-white: #FBFCF8;
$background-blue: #C0E1F7;

$scroll-bar-thumb-color: #888888;
$scroll-bar-track-color: #b3b1b1;
$scroll-bar-thumb-active-color: #444444;
$scroll-bar-thumb-hover-color: #646464