@import './variables.scss';

.MuiTypography-root {
    font-family: inherit !important;
}

.MuiAppBar-root {
    color: inherit !important;
    background-color: inherit !important;
    box-shadow: inherit !important
}